@import "../../../particles/sizes.scss";
@import "../../../particles/colors.scss";

.M_SelectField {
  position: relative;
  max-width: 280px;
  cursor: pointer;

  .caret {
    color: $grey;
    position: absolute;
    right: 0;
    top: 0;
    @include square(44px);
    line-height: 44px;
    transition: 0.1s;
    pointer-events: none;
  }

  &.open {
    .caret {
      color: $black;
      transform: rotate(180deg);
      cursor: pointer;
      pointer-events: all;
    }

    .C_SelectOptions {
      display: block;
      &:empty {
        display: none;
      }
    }
  }

  &.optionSelected {
    .caret {
      color: $black;
    }
  }

  .C_SelectOptions {
    max-height: 186px;
    overflow-y: scroll;
    padding: 10px 0;
    margin-top: -1px;
    border: 1px solid $black;
    display: none;
  }
}
