@import "../../../particles/colors.scss";
@import "../../../particles/sizes.scss";
@import "../../../particles/fonts.scss";

.A_Avatar {
  cursor: pointer;
  background-color: $grey;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  text-transform: uppercase;

  &.tiny {
    @include square(16px);
    border-radius: 16px;
    p {
      @include tiny;
    }
  }

  &.small {
    @include square(32px);
    border-radius: 32px;
    p {
      @include small;
    }
  }

  &.medium {
    @include square(52px);
    border-radius: 52px;
    p {
      @include small;
    }
  }

  &.large {
    @include square(100px);
    border-radius: 100px;
    p {
      @include p;
    }
  }
}
