@import "../../../particles/fonts.scss";
@import "../../../particles/icons.scss";
@import "../../../particles/sizes.scss";

.A_Checkbox {
  @include small;
  display: flex;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.A_Checkbox:hover .Q_Checkbox {
  border: 1px solid $black;
}

.Q_Checkbox {
  margin-right: 4px;
  @include square(12px);
  color: white;
  border: 1px solid $grey;
}

.checked .Q_Checkbox {
  border: 1px solid $black;
  background-color: $black;
}
