@import "../../../particles/colors.scss";
@import "../../../particles/sizes.scss";
@import "../../../particles/fonts.scss";

.A_SidebarItem {
  box-sizing: border-box;
  cursor: pointer;
  @include small;
  width: 279px;
  color: $grey;

  &.selected {
    color: $black;
    background-color: $ultralightgrey;
  }

  &.level1 {
    padding: 10px 20px;
  }

  &.level2 {
    padding: 10px 40px;
  }

  &.level3 {
    padding: 10px 60px;
  }
}
