@import "./sizes.scss";

@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/Font-Awesome-5-Free-Solid-900.otf");
}

@font-face {
  font-family: "FontAwesome Brands";
  src: url("../fonts/Font-Awesome-5-Brands-Regular-400.otf");
}

.Q_IconSmall {
  @include square(14px);
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  font-family: "FontAwesome";
}

.Q_IconMedium {
  @include square(20px);
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  font-family: "FontAwesome";
}

.Q_IconLarge {
  @include square(40px);
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  font-family: "FontAwesome";
}

// GENERIC
.Q_IconSmile {
  &::before {
    content: "\f118";
  }
}

// STATE
.Q_IconTick {
  &::before {
    content: "\f00c";
  }
}

.Q_IconBan {
  &::before {
    content: "\f05e";
  }
}

// INTERACTIONS
.Q_IconClose {
  &::before {
    content: "\f00d";
  }
}

.Q_IconPlus {
  &::before {
    content: "\f067";
  }
}

.Q_IconTrash {
  &::before {
    content: "\f1f8";
  }
}

.Q_IconReply {
  &::before {
    content: "\f122";
  }
}

.Q_IconUndo {
  &::before {
    content: "\f01e";
  }
}

.Q_IconSync {
  &::before {
    content: "\f021";
  }
}

.Q_IconChevron {
  &::before {
    content: "\f054";
  }
}

.Q_IconCaret {
  &::before {
    content: "\f0d7";
  }
}

.Q_IconArrow {
  &::before {
    content: "\f178";
  }
}

.Q_IconSearch {
  &::before {
    content: "\f002";
  }
}

// OBJECTS
.Q_IconImage {
  &::before {
    content: "\f03e";
  }
}
