@import "../../../particles/colors.scss";
@import "../../../particles/sizes.scss";
@import "../../../particles/fonts.scss";

.A_SidebarGroupHeader {
  box-sizing: border-box;
  @include small;
  width: 279px;
  color: $grey;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  span {
    display: block;
  }

  .Q_IconChevron {
    transition: ease-in-out 0.2s;
  }

  &.open {
    color: $black;

    .Q_IconChevron {
      transform: rotate(90deg);
    }
  }

  &.level1 {
    padding: 10px 20px;
  }
  &.level2 {
    padding: 10px 40px;
  }
}
